/*

Template:  Webster - Responsive Multi-purpose HTML5 Template
Author: potenzaglobalsolutions.com
Design and Developed by: potenzaglobalsolutions.com

NOTE: This file contains the styling for the Mobile app Template. You can edit/add anything in this file!

*/
 
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i');

 
h1, h2, h3, h4, h5, h6 { font-family: 'Noto Sans', sans-serif; font-weight: normal; color: #363636; margin-top: 0px; text-transform: capitalize; font-weight: bold; }

.app-home { padding-bottom: 600px; background-position: 100px 100px; background-repeat: no-repeat; }
 
.mobile-app-about h2 {font-size: 70px; margin-bottom: 30px;}
.mobile-app-about strong { font-size: 24px; margin-bottom: 40px; display: block; }
.mobile-app-about a img { width: 240px; margin: 0 2px; }

/*mobile app blog*/
.blog-box.blog-2 {padding: 0; position: relative; border:none; transition: all 0.5s ease 0s;}
.blog-box.blog-2 .blog-info{background: #ffffff; padding: 30px;}
.blog-box.blog-2 .blog-box-img{opacity: 1;}
.blog-box.blog-2 .post-format-icon{position: absolute; right: 30px; top: 30px;}
.blog-box.blog-2 .button.icon-color{text-transform: capitalize; float: right;}
.blog-box.blog-2:hover {box-shadow: 0 0 30px rgba(0, 0, 0, 0.07); }


.bg-overlay-theme-20:before {  background: rgba(0, 121, 252, 0.2); content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: 0; }
.bg-overlay-theme-50:before {  background: rgba(0, 121, 252, 0.5); content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: 0; }
.bg-overlay-theme-70:before {  background: rgba(0, 121, 252, 0.7); content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: 0; }
.bg-overlay-theme-90:before {  background: rgba(0, 121, 252, 0.9); content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: 0; }